<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Candidato</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/materialize.min.css">
</head>

<body>
    <nav style="background-color: #0174DF;">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="margin-left: 30px;">Eleição</a>
            <ul id="nav-mobile" class="hide-on-med-and-down" style="margin-left: 160px;">
                <li><a href="/inicio">Home</a></li>
                <li><a href="listaCandidato">Listar Candidato</a></li>
                <li><a href="/candidato">Novo Candidato</a></li>
                <li><a href="/listaVoto">Voto</a></li>
                <li><a href="/voto">Novo Voto</a></li>
            </ul>
        </div>
    </nav>
    
        <img style="width:100%; height: 600px;" src="http://eliteinvestimentos.com.br/wp-content/uploads/2018/04/anodeeleicao.jpg">

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.js"></script>
</html>